.header {
  background-color: #f5f9fa; /* Tailwind's blue-800 */
}
/* Navbar.css */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 1rem 5rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.brand-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.brand-logo {
  width: 40px;
  height: 40px;
}

.brand-name {
  font-size: 2rem;
  font-weight: bold;
  color: #1f2937;
}

/* Desktop Navbar Menu */
.navbar-menu {
  display: flex; /* Always show the navbar menu on desktop */
  flex-grow: 1;
  margin-left: 4rem;
}

.navbar-list {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar-item {
  margin: 0 10px;
}
.navbar-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #374151;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #f2490b;
}
/* Hamburger menu */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #333;
}
/* Navbar Links for Mobile View */
.navbar-menu-mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px; /* Adjust based on the height of the navbar */
  right: 20px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

/* Show navbar menu on mobile when active */
.navbar-menu-mobile.active {
  display: flex;
}

.navbar-item-mobile {
  margin: 10px 0;
}
.navbar-cta {
  display: flex;
  gap: 1rem;
}

/* Show hamburger menu on mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-list {
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
  }
  .navbar-cta {
    display: none;
  }

  .navbar-link {
    width: 100%;
    text-align: left;
  }
  .navbar-menu {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
