/* Newsletter Section */
.newsletter {
  padding: 50px 0;
  text-align: center;
  background-color: #f5f9fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.newsletter__content {
  max-width: 1200px;
  margin: 0 auto;
}

.newsletter__header {
  margin-bottom: 5rem;
}

.newsletter__title {
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f9fafa;
  line-height: 1.4;
}

.newsletter__optin {
  text-align: center;
}

.newsletter__description {
  font-size: 2rem;
  color: #f9fafa;
  margin-bottom: 2rem;
}

.newsletter__form {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.newsletter__input {
  background-color: #f9fafa;
  color: #38464d;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  max-width: 20rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: border 0.2s;
}

.newsletter__input:focus {
  border-color: #ff951f;
}

.newsletter__submit {
  background-color: #ff951f;
  color: #f9fafa;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  width: 100%;
  max-width: 20rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter__submit:hover {
  background-color: #e87c1f;
}

/* Responsive Design */
@media (max-width: 768px) {
  .newsletter__header {
    margin-bottom: 2rem;
  }
  .newsletter__form {
    padding: 1rem 2rem;
  }
  .newsletter__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .newsletter__description {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .newsletter__input {
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
    width: 90%;
    max-width: none;
  }

  .newsletter__submit {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
  }
}
