/* UTILITIES */
.divider {
  width: 100%; /* Full width of the parent container */
  height: 1px; /* Line thickness */
  background-color: #cacaca; /* Line color */
  margin: 20px 0; /* Space above and below the line */
}
